<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder-o"></i> <span>项目设置</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/project/add"><i class="fa fa-circle-o"></i>添加项目</a></li>
                    <li><a href="/project/list"><i class="fa fa-circle-o"></i>项目列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-refresh"></i> <span>RSYNC</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/rsync/add"><i class="fa fa-circle-o"></i>提交代码</a></li>
                   <!-- <li><a href="/project/list"><i class="fa fa-circle-o"></i>项目列表</a></li>-->
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>